.github/          @HumanSignal/devops
deploy/           @HumanSignal/devops
Dockerfile*       @HumanSignal/devops
docker-compose*   @HumanSignal/devops
docs/.npmignore   @hlomzik @Gondragos @nick-skriabin
docs/package.json @hlomzik @Gondragos @nick-skriabin
docs/yarn.lock    @hlomzik @Gondragos @nick-skriabin
web/libs/editor   @hlomzik @Gondragos @nick-skriabin
